#scoreCard {
    margin: 0;
    color: white;
    padding-left: 38px;
    /* background-image: url("../Wrapper/wavy-dots.png"); */
    background-color: crimson;
    padding-top: 10px;
    font-weight: bolder;    
  }
  li {
    display: inline-block;
    padding-right: 30px;
  }
  ul {
    margin: 0;
  } 
 #message2 {   
   font-weight: bolder;   
   color: black;
   -webkit-text-stroke-color: white;
   -webkit-text-stroke-width: 1px;
 }
